<tr>
    <td><%= category_history.week.cycle.number %></td>
    <td><%= category_history.week.week_number %></td>
    <td><%= category_history.category.name %></td>
    <td><%= category_history.limit_level.name %></td>
</tr>
