<h3 class="category-status">
  <i class="icon-blocked"></i>
  <span class="restricted">
    <%= @restricted.capitalize %>
  </span>
</h3>

<h3 class="category-status">
  <i class="icon-contrast"></i>
  <span class="limited">
    <%= @limited.capitalize %>
  </span>
</h3>

<h3 class="category-status light-text">4 weeks left in the cycle</h3>